body {
    background: #1c1c1c;
    color: #fff;
}

.app {
    vertical-align: center;
    justify-content: center;
    height: 100vh;
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 1vh;
}

.button {
    color: white;
    background-color: rgb(47, 39, 39);
    margin-left: 1vw;
    width: 15vw;
    height: 5vh;
    font-size: 1.4rem;
}

.button-logout {
    color: white;
    background-color: rgb(88, 13, 13);
    border-radius: 1rem;
    margin-top: 0.2vh;
    margin-left: -0.7vw;
    width: 2vw;
    height: 4vh;
    font-size: 0.9rem;
}

.logo-logout {
    margin-top: 0.1vh;
    margin-left: 0.1vw;
}

.video {
    margin-left: 2vw;
    position: fixed;
    width: 95vw;
    height: 92vh;
    object-fit: cover;
}