body {
  background: #1c1c1c;
  color: #fff;
  font-size: 1.3rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.buttons {
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0vw;
}

.button {
  background-color: rgb(48, 48, 48);
  border-color: rgb(71, 71, 71);
  margin-left: 1vw;
  word-wrap: break-word;
  width: 10rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.button-selected {
  background-color: rgb(92, 92, 92);
  margin-left: 1vw;
  word-wrap: break-word;
  width: 10rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.button-off {
  color: white;
  background-color: rgb(48, 48, 48);
  border-color: rgb(71, 71, 71);
  margin-left: 1vw;
  width: 10rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.button-lo-res-off {
  color: rgb(169, 169, 169);
  background-color: rgb(25, 22, 22);
  border-color: rgb(71, 71, 71);
  margin-left: 1vw;
  width: 10rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.button-lo-res-on {
  color: rgb(255, 255, 255);
  background-color: rgb(18, 122, 15);
  border-color: rgb(71, 71, 71);
  margin-left: 1vw;
  width: 10rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.logout-href {
  color: white;
}

.button-logout {
  color: white;
  background-color: rgb(108, 0, 0);
  margin-left: 1vw;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.video {
  border-color: rgb(69, 69, 69);
  border-style: solid;
  margin-left: 1vw;
  width: 97vw;
  height: 82vh;
  object-fit: cover;
}

.video-fullscreen {
  margin-left: 0vw;
  width: 100vw;
  height: 100vh;
  top:0%;
  left:0px;
  right:0px;
  bottom:0px;
  object-fit: cover;
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  position:absolute;
}

.link-view {
  margin-left: 1vw;
  width: 95vw;
  height: 92vh;
}
.link-copy-button {
  color: white;
  background-color: rgb(13, 88, 18);
  margin-top: 2vh;
  margin-left: 1vw;
  width: 10vw;
  height: 7vh;
  border-radius: 1rem;
}
